@import "~materialize-css/dist/css/materialize.min.css";

.log-in-form{
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    color: #212121;
}

.log-in-form>*{
    margin: 30px;
}


input:focus {
    border-bottom: 1px solid #f57f17 !important;
    box-shadow: 0 1px 0 0 #f57f17 !important;
}

input:focus + label {
    color: #f57f17 !important;
}

input + label {
    color: #212121 !important;
}

.secondary-btn{
    background-color: #ffffff;
    color: #f57f17;
}

.navbar{
    padding: 0 50px;
}

.actions{
    display: flex;
}

.actions button{
    cursor: pointer;
    margin-left: 10px;
}

.hidden{
    visibility: hidden;
}

.notDisplay{
    display: none;
}

.loader{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 300px;
    opacity: .7;
}